<nav class="menu" role="nav">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="https://github.com/cparedes">GitHub</a></li>
      <li><a href="https://twitter.com/redbluemagenta">Twitter</a></li>
      <li><a href="/rss">RSS</a></li>
    </ul>
</nav>
